

<style>
    .footer__list{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    list-style: none;

}
</style>
    <footer>
        <div class="container">
        <ul class="footer__list">
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">INSTAGRAM</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">INSTAGRAM</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">INSTAGRAM</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">{{f}}</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">{{t}}</a>
            </li>
        </ul>
            </div>
    </footer>


